/*Colors*/
$whitecolor: #FFFFFF;
$bluecolor: #2596be;
$graycolor: #E0E0E0;
$lightgraycolor: #989898;
$lightgraycolor2: #828282;
$lightgraycolor3: #BDBDBD;
$orangecolor: #F2994A;
$lightorangecolor: #E0812C;

/*Cursor*/
$pointer: pointer;
