/*Colors*/
$bluecolor: #2596be;
$whitecolor: #FFFFFF;
$whitecolor1: #FAFAFA;
$graycolor: #E0E0E0;
$lightgraycolor: #989898;
$lightgraycolor2: #828282;
$lightgraycolor3: #BDBDBD;
$darkgray: #333;
$darkgray2: #4F4F4F;
$blackcolor: #000;
$orangecolor: #F2994A;
$lightorangecolor: #E0812C;

/*Cursor*/
$pointer: pointer;

/*Fonte*/
$font-family: Poppins;
$font-size: 16px;
$font-size1: 14px;

/*Text-align*/
$center: center;