@import "./utilities/variables";

.grid-container-schedueler {
  background-color: $graycolor;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
}

.posttext {
  grid-column: 1 / span 2;
}

.postpreview {
  grid-column: 3 / span 2;
  grid-row: 1 / span 3;
  .previewwrapper {
    align-items: center;
    display: flex;
    overflow-y: auto;
    .preview {
      margin: 10px;
      padding: 10px;
    }
  }
}

.socialmidia_icons {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  img {
    width: 33px;
    display: flex;
  }
}

.socialmidia, .postdate, .posttext, .imageupload, .postpreview, .preview {
  background-color: $whitecolor;;
  border: 1px solid $lightgraycolor;
  border-radius: 4px;
}

.postdate {
  input {
    margin: 0 10px;
  }
}

.tittle {
  border-bottom: 1px solid $lightgraycolor;
  color: $darkgray;
  font-family: $font-family;
  font-size: $font-size;
  padding-left: 10px;
  margin-top: 4px;
}

.instagram,.linkedin, .emoji {
  cursor: $pointer;
  width: 33px;
}

  [type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  70% 50% no-repeat ;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  
  .dropzone {
    background: $whitecolor;
    border-radius: 4px;
    border: 1px dashed $lightgraycolor3;
    text-align: $center;
    margin: 10px;
  }

  .image_message {
  color: $lightgraycolor2;
  font-family: $font-family;
  font-size: $font-size;
  text-align: $center;
}
 
.emojiwrapper {
  position: relative;
  margin: 10px;
}

.emoji {
  position: absolute;
  right: 10px;
  top: 5px;
}

.previewheader {
  text-align: left;
  display: flex;
  align-items:center;
  margin-bottom: 10px;
}

.instagramlogopost, .linkedinlogopost {
  width: 40px;
  margin-right: 10px;
}

.modal_tit_sucess {
  font-size: 24px;
  font-family: $font-family;
  text-align: $center;
}

.scheduele_button,.sucess  {
  background-color: $bluecolor;
  color: $whitecolor;
  text-decoration: none;
  width: 184px;
  height: 45px;
  flex-shrink: 0;
}

#textarea_post {  
  box-sizing: border-box;
  color: $darkgray2;
  font-family: $font-family;
  font-size: $font-size1;
  padding: 5px;
  width: 100%;
}

.caption {
  float: left;
}

.previewdraft {
  text-align: center;
}

.modal_tit {
  text-align: $center;
  color: $blackcolor;
  font-family: $font-family;
  font-size: $font-size;
}

img.captionpreview {
  margin-top: -10px;
  margin-left: 1px;
}

img.imagepreview {
  margin-right: -2px;
}

.ReactModal__Content.ReactModal__Content--after-open {
  width: 872px;
  margin: auto;
  height: 419px;
  background-color: $whitecolor1 !important;
  text-align: center;
  img {
    padding-top: 40px;
  }
}

.interative {
  .interativeitem {
    float: left;
    margin-right: 10px;
    &:last-child {
      float: right;
      margin-right: 0px;
    }
  }
}

.postimage {
  margin: 0 -10px;
}

a.scheduele_button {
  width: 160px;
  display: block;
  height: 27px;
  margin: 0 auto;
}